<%include partials/header %>
<div class="container">
	<div class="row">
	<h1 style="text-align: center;">Edit <%=  music.musicname %></h1>
	<div style="width: 30%; margin: 30px auto;">
	<form class="addmusic" action="/editMusic/<%= music._id %>?_method=PUT" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="musicname" value="<%= music.musicname %>">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="price" value="<%= music.price %>">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="cover" value="<%= music.cover %>">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="style" value="<%= music.style %>">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="artist" value="<%= music.artist %>">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="review" value="<%= music.review %>">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="inventory" value="<%= music.inventory %>">
		</div>
		<div class="form-group">
			<button id="addMusic" class="btn btn-lg btn-warning btn-block">Save</button>
		</div>
		
		
				
			
	</form>
	<% if(music.avaliable){ %>
	<form class="deletemusic" action="/deleteMusic/<%= music._id %>?_method=DELETE" method="POST">
		<div class="form-group">
			<button id="deleteMusic" class="btn btn-lg btn-danger btn-block">Delete music</button>
		</div>
	</form>
	<%}else{%>
	<form class="deletemusic" action="/deleteMusic/<%= music._id %>?_method=DELETE" method="POST">
		<div class="form-group">
			<button id="addMusic" class="btn btn-lg btn-primary btn-block">Add music back</button>
		</div>
	</form>
	<%}%>
		<a href="/musicstore">Go back</a>
	</div>
	
		
	</div>
	
</div>
<%include partials/footer%>