<%include partials/header %>
<div class="container">

	<div class="row">
		<div class="col-md-3">
			<div class="thumbnail">
				<h1><%=music.musicname%></h1>
				<img class="img-responsive" src="<%=music.cover%>">
				<h3>Price: <%= music.price %></h3>
			</div>			
		</div>
		<dir class="col-md-9">
			<h3>Style: <%= music.style %></h3>
			<h3>Artist: <%= music.artist %></h3>
			<p><%=music.review%></p>
		</dir>
	</div>
	
	
	
	


</div>

<%include partials/footer %>